<!DOCTYPE html>
<html>
<head>
  <title>TravelingPx</title>
  <link rel='shortcut icon' href='<%= image_url('icon.png') %>'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
